<nav class="nav">
  <a class="nav-link is-orgs">
    Organizations
  </a>

  <a class="nav-link is-users">
    Users
  </a>

  <a class="nav-link is-perms">
    Permissions
  </a>

  <a class="nav-link is-settings">
    Settings
  </a>
</nav>

{{outlet}}
