<div class="user">
  <div class="user-avatar">
    {{user-avatar user=user}}
  </div>

  <div class="user-email">
    {{ user.email }}
  </div>

  <div class="user-identifier">
    {{ user.username }}
  </div>
</div>
