.nav {
  border-bottom: 2px dotted @gray-lighter;
  margin-bottom: 30px;
  background: @gray-lightest;
  overflow: hidden;
  line-height: 60px;
  height: 60px;
  padding: 0 30px;
}

.nav-brand {
  font-size: 24px;
  color: @gray-medium;
}

.nav-links {
  float: right;
}

.nav-link {
  .bottom-shadow();
  float: left;
  display: block;
  color: @gray-medium;
  font-size: 15px;
  cursor: pointer;
  line-height: 30px;
  text-decoration: none;
  padding: 0 15px;
  margin: 15px 0;


  &:hover {
    color: white;
  }

  &.active {
    .border-radius(60px);
    background: white;
  }
}
